extends layouts/layout_ingang
block content
  .container-fluid.bg-1.text-center
    .row
      .col-sm-4.col-md-4.col-lg-4
        h1 Base(ics) 
        h2.margin Not just an ordinary template.
        .well.bg-info.margin I am a simple template here to serve you in your hour of need. I am a "Full Stack" template, one that makes it easy to ramp up on a simple idea:  Your website shouldn't get in the way of your dreams. 
        p
          strong Powerfull Tools  
          | make it easy to customize and keep you from making 
          i silly 
          | mistakes.  
        p Use a full node stack, with 
          strong Pug / Coffeescript / Node
          |  and 
          strong LevelDB  
          |  to quickly bootstrap your development time.  Then use Grunt to quickly build, minify, and shim your assets and deploy them. 
      .col-sm-8.col-md-8.col-lg-8
        h3.center I&apos;m a light in the darkness.
    .row
      .col-sm-8.col-md-8.col-lg-8
      .col-sm-4.col-md-4.col-lg-4
  .container-fluid.bg-4.text-center
    h1.margin Begin With Simple
    p This template is not designed to be used as is. This template is  a way to start up a site with useful and elegant tools.
    p This template is 'light' weight.  It could have easily used React or Angular.  It could have used MongoDB.  There might even be some code samples for just that sort of thing in the future.  But for now this is all about getting the simplest examples done using clean languages like Coffeescript.
    a.btn.btn-default.btn-lg(href='#')
      span.glyphicon.glyphicon-search
    |  Search
  .container-fluid.bg-2.text-center
    h1.margin Front End Stack?
    br
    .row
      .col-sm-4
        p Coffeescript 2.0 - Use all the latest features of ES6, with the clean and fast lines of Coffeescript.  Using CS in your browser? Requires grunt to run your script through Babel and "Just make it work" 
        img.img-responsive.img-circle(src='/images/chaired_square.JPG', style='width:100%', alt='Image')
      .col-sm-4
        p Grunt tools for minifying your Javascript and CSS code.  Reduce your overhead for faster downloads and ensure compatability with ES6 by piping everything through Babel.js  
        img.img-responsive.img-circle(src='/images/bobo.JPG', style='width:100%', alt='Image')
      .col-sm-4
        p Bootstrap 4 - Well this is a lie.  While we WILL be putting bootstrap 4 in, it is simply not well documented at this point.  But we will change it over, oh yes.  We did include responsive layouts, so there is that ;)  
        img.img-responsive.img-circle(src='/images/connected_square.JPG', style='width:100%', alt='Image')
  .container-fluid.bg-3.text-center
    .row
      .col-sm-4
        .panel.panel-info
          .panel-heading
            h3.panel-title Express
          .panel-body
            | Currently built with Express, along with basic user account tools like Passport.  We will be adding support for OAuth based logins and login with Twitter etc.
      
      .col-sm-4
        .panel.panel-default
          .panel-heading
            h3.panel-title Pug
          .panel-body
            | Pug 2.0 - Bundled with one of the best ideas the web has had in a long time.  These Pug templates will make your life better, code faster and spend less time making simple HTML mistakes.  
      .col-sm-4
        .panel.panel-success
          .panel-heading
            h3.panel-title LevelDB
          .panel-body
            | LevelUp - A NodeJS package of LevelDB.  This is the fastest way to get a working sample without installing MongoDB.  Once you have run npm install, it will also "just work".